doctype html
html(ng-app='simpleexpress')
	head
		link(rel='stylesheet', type='text/css', href='/css/global.css')
		link(rel='stylesheet', type='text/css', href='//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
		script(src='/js/global.js')
		title!= title
	body(ng-view)
		