.toolbar {
	
    height: 50px;
	
}

.btn:focus{
	
	outline: none;
	
}

.view-article:hover{
	
	cursor: pointer;
	color: #00f;
	
}

.delete-article{
	
	color: #f00;
	cursor: pointer;
	
}

.fa.sort-icon{
	
	cursor: pointer;
	line-height: 34px;
	
}

.order-label{
	
	line-height: 34px;
	
}

.form-error{
	
	padding: 15px;
	
}

.toolbar .row{
	
	margin: 10px 0;
	
}

.null-lPading{
	
	padding-left: 0 !important;
	
	
}

.btn-ico{
	
	margin-right: 5px;
	
}

