.toolbar {
	
    height: 50px;
	
}

.btn:focus{
	
	outline: none;
	
}

.view-article:hover{
	
	cursor: pointer;
	color: #00f;
	
}

.delete-article{
	
	color: #f00;
	cursor: pointer;
	
}

