.toolbar {
	
    height: 50px;
	
}

.btn:focus{
	
	outline: none;
	
}

.view-article:hover{
	
	cursor: pointer;
	color: #00f;
	
}

.delete-article{
	
	color: #f00;
	cursor: pointer;
	
}

.fa.sort-icon{
	
	cursor: pointer;
	line-height: 34px;
	
}

.order-label{
	
	line-height: 34px;
	
}

.form-error{
	
	padding: 15px;
	
}

